[MESSAGES CONTROL]
disable=
    duplicate-code,
    fixme,
    invalid-name,
    too-few-public-methods,
    too-many-public-methods,

max-args=10
max-attributes=10
max-line-length=200

[REPORTS]
output-format=text
